.gradle/
.kotlin/
build/
local.properties

app/build/
app/google-services.json
ios/**/GoogleService-Info.plist
ios/**/Config.xcconfig
ios/**/DerivedData/
ios/**/.build/
ios/**/*.xcworkspace/
ios/**/*.xcuserdata/

*.apk
*.aab
*.ap_
*.dex
*.class

.idea/
*.iml

__pycache__/
*.pyc
